// colors
$c-white: #ffff;
$c-black: #000;
$c-light-black: #43425d;
$c-dark-black: #3c3b54;
$c-light-gray: #F5F6FA;
$c-mid-gray: #F0F0F7;
$c-dim-gray: #EBEBF2;
$c-hard-gray: #a2a6b4;
$c-light-blue: #a2a0fb;
$c-dark-blue: #3b86ff;

