@font-face {
  font-family: 'SourceSans3Light';
  src: url('@/assets/fonts/SourceSans3.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans3Mid';
  src: url('@/assets/fonts/SourceSans3.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans3Bold';
  src: url('@/assets/fonts/SourceSans3.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
